.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image:url("https://th.bing.com/th/id/OIP.tPfH1WNF3s5cnnYA2Xky5gHaEo?w=291&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
h1{
  color:rgb(171, 46, 66);
  margin-bottom: 40%;
  -webkit-text-stroke: 0.1vw blueviolet;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
